@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Yanone+Kaffeesatz:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 30px;
    margin: auto;
}


/* =============== NAVBAR STYLE ========= */
.navbar{
    position: fixed;
    width: 100%;
    padding: 5px 0;
    font-family: 'RocknRoll One';
    transition: all 0.3s ease;
    border-bottom-right-radius:50px ;
    border-bottom-left-radius:50px ;
    background-color: #615aa8;
    z-index: 100;
}

.navbar .max-width{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color:rgb(247, 114, 114);
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: rgb(247, 114, 114);
}

/*============= Home Secsion Div =================*/
.home{
    display: flex;
    background: url("image2.png") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family:'RocknRoll One',sans-serif;
}
.home .max-width{
    margin:auto 0 50vh 60px;
}


/*=============TEXT DEPAN=================*/
.home .home-content .text1{
    font-size: 25px;
}
.home .home-content .text2 p{
    font-size: 30px;
    font-weight: 600;
    margin-left: -3px;
    position: relative;
    color: #1B1464;
    -webkit-text-stroke: 0.005vw #ffffff;
}
.home .home-content .text2 p::before{
    content:attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    -webkit-text-stroke: 0vw #ffffff;
    overflow :hidden;
    animation:animate 4s 1;
}
@keyframes animate {
    0%
    {
        width: 0%;
    }
    85%
    {
        width: 100%;
    }
}

.home .home-content .text3{
    font-size: 20px;
    margin: 5px 0;
}
.home .home-content .text3 span{
    font-size: 20px;
    margin: 5px 0;
    color:rgb(247, 114, 114);
    font-weight: bold;
}

/* =============== CV botton =========== */
.home .home-content a{
    display: inline-block;
    background:rgb(247, 114, 114);
    padding: 10px 30px;
    color: #fff;
    border-radius:30px;
    transition: all 0.4s ease;
}
.home .home-content a:hover{
    display: inline-block;
    background:rgb(182, 77, 77);
    padding: 10px 30px;
    color: #fff;
    border-radius:30px;
}


/* =============== Section About Me =========== */
.section{
    padding: 100px 0;
}
.about{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    min-height: 500px;
    color: #1B1464;
}

.about .title{
    font-family:'RocknRoll One',sans-serif;
    padding-top: 120px;
    padding-left: 600px;
    font-size: 40px;
    text-align: center;
    position: relative;
}
.about .title::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left:74%;
    width: 180px;
    height: 5px;
    background:#1B1464;
    transform: translateX(-50%);
}

.about .title::after{
    content: '';
    position: absolute;
    bottom: -63vh;
    left:74%;
    padding: 0px;
    width: 180px;
    height: 5px;
    background:#1B1464;
    transform: translateX(-50%);
}

.about .about-content .left img{
    height:400px;
    float:left;
    object-fit: cover;
    margin-left: 100px;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width:45%;
}
.about .about-content .right{
    width:55%;
    padding: 10px 80px;
    font-size: 20px;
}
.about .about-content .right .biodata{
    font-size: 23px;
}
.about .about-content .right span{
    width:55%;
    color: rgb(247, 114, 114);
}
.about .about-content .right a{
    padding: 15px 20px;
    margin-top: 20px;
    background-color: rgb(247, 114, 114);
    color: #fff;
    display: inline-block;
    font-size: 25px;
    border-radius: 30px;
    transition: all 0.4s ease;
}

.about .about-content .right a:hover{
    padding: 15px 20px;
    margin-top: 20px;
    background-color: rgb(182, 77, 77);
    color: #fff;
    display: inline-block;
    font-size: 25px;
    border-radius: 30px;
}




/* =============== Section Skill yeah  =========== */
.section{
    padding: 100px 0;
}
.skills{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    min-height: 500px;
    color: #1B1464;
    background-color: #efecff;
}

.skills .title{
    font-family:'RocknRoll One',sans-serif;
    padding-top: 100px;
    font-size: 40px;
    text-align: center;
    position: relative;
}
.skills .title::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left:50%;
    width: 180px;
    height: 5px;
    background:#1B1464;
    transform: translateX(-50%);
}


.skills .skills-content .left{
    width: 50%;
    padding: 0 70px;
    font-size :20px;
}

.skills .skills-content .left .text{
    font-size :21px;
    color: rgb(182, 77, 77);
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .right{
    width: 50%;
    padding: 50px 100px;
    font-size :20px;
}
.skills .skills-content .right .bar{
    margin-bottom: 12px;
}
.skills .skills-content .right .info{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background:rgb(236, 217, 217);
    position: relative;
}
.skills .skills-content .right .line::before{
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:rgb(182, 77, 77);
}
.skills-content .right .blend::before{
    width: 90%;
}
.skills-content .right .subs::before{
    width: 60%;
}
.skills-content .right .zbrush::before{
    width: 70%;
}
.skills-content .right .unity::before{
    width: 50%;
}
.skills-content .right .ae::before{
    width: 80%;
}
.skills-content .right .pr::before{
    width: 75%;
}
.skills-content .right .ai::before{
    width: 90%;
}
.skills-content .right .cd::before{
    width: 90%;
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .left a{
    padding: 15px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(247, 114, 114);
    color: #fff;
    display: inline-block;
    font-size: 25px;
    border-radius: 30px;
    transition: all 0.4s ease;
}

.skills .skills-content .left a:hover{
    padding: 15px 20px;
    background-color: rgb(182, 77, 77);
    color: #fff;
    display: inline-block;
    font-size: 25px;
    border-radius: 30px;
}



/* =============== Section Sosial Media  =========== */
.section{
    padding: 100px 0;
}
.sosmed{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    min-height: 500px;
    color: #1B1464;
    background-color: #fbfaff;
}
.sosmed .title{
    font-family:'RocknRoll One',sans-serif;
    padding-top: 100px;
    font-size: 40px;
    text-align: center;
    position: relative;
}
.sosmed .title::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left:50%;
    width: 350px;
    height: 5px;
    background:#1B1464;
    transform: translateX(-50%);
}


.sosmed .sosmed-content .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px ;
}
.sosmed .sosmed-content .row .box{
    height: auto;
    margin: 0 20px;
    padding: 20px 50px;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0, .25);
}
.sosmed .sosmed-content .row .box .a{
    padding: 25px 30px;
}
.sosmed .sosmed-content .row .box .b{
    padding: 25px 30px;
}
.sosmed .sosmed-content .row .box .c{
    padding: 25px 30px;
}
.sosmed .sosmed-content .row .box .format a{
    padding: 15px 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(247, 114, 114);
    color: #fff;
    display: inline-block;
    font-size: 15px;
    border-radius: 30px;
    transition: all 0.4s ease;
}
.sosmed .sosmed-content .row .box .format a:hover{
    padding: 15px 20px;
    background-color: rgb(182, 77, 77);
    color: #fff;
    display: inline-block;
    font-size: 15px;
}






/* =============== Section Contact =========== */
.section{
    padding: 100px 0;
}
.contact{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    min-height: 500px;
    color: #1B1464;
    background-color: #ece9fc;
    font-size: 15px;
}

.contact .max-width .title{
    font-family:'RocknRoll One',sans-serif;
    padding-top: 100px;
    font-size: 40px;
    text-align: center;
    position: relative;
}
.contact .title::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left:50%;
    width: 180px;
    height: 5px;
    background:#1B1464;
    transform: translateX(-50%);
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact .contact-content .row{
    display: flex;
    height: 55px;
    align-items: center;
}
.contact .contact-content .left{
    width: 50%;
    padding-left: 70px;
}
.contact .contact-content .right{
    width: 50%;
    padding-left: 70px;
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight:600;
    margin-bottom: 10px;
    margin-top: 50px;
}
.contact .contact-content .fields{
    font-size: 20px;
    font-weight:600;
    margin-bottom: 10px;
    margin-top: 50px;
}

.contact .contact-content .kolom{
    width:calc(50% - 30px)
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row .head{
    margin-right: 25px;
}

.contact .contact-content .left .icons a{
    padding: 15px 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(247, 114, 114);
    color: #fff;
    display: inline-block;
    font-size: 15px;
    border-radius: 30px;
    transition: all 0.4s ease;
}

.contact .contact-content .left .icons a:hover{
    padding: 15px 20px;
    background-color: rgb(182, 77, 77);
    color: #fff;
    display: inline-block;
    font-size: 15px;
}

.contact .contact-content .right form .fields .field input{
    height:100%;
    width: 100%;
    border: 1px solid #1B1464;
    border-radius: 6px;
    outline: none;
    padding: 10px 15px;
    margin-top: 10px ;
    font-size: 17px;
    box-shadow: 0 0 10px rgba(137, 188, 212, 0.25);
}

.contact .contact-content .right form .fields .name{
    margin-top: -50px;
}
.contact .contact-content .right form .fields .subject{
    margin-bottom: 5px;
}
.contact  .right form .textarea{
    height:100px;
    
}
.contact  .right form .textarea textarea{
    height:100%;
    width: 100%;
    border: 1px solid #1B1464;
    border-radius: 6px;
    padding: 10px 15px;
    margin-top: 8px ;
    font-size: 17px;
    box-shadow: 0 0 10px rgba(137, 188, 212, 0.25);
}
.contact  .right form .textarea textarea{
    padding-bottom: 40px;
    resize:none;
}

.contact  .right form .button{
    height: 47px;
    width: 30%;
    margin-top: 20px;
    border: 0px ;
}
.contact  .right form .button button{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(247, 114, 114);
    border: 0px ;
    border-radius: 30px;
    padding: 10px 15px;
    margin-top: 8px ;
    font-size: 17px;
    color: #fff;
    display: inline-block;
    transition: all 0.4s ease;
}

.contact  .right form .button button:hover{
    background-color: rgb(182, 77, 77);
    color: #fff;
    display: inline-block;
}







/* =============== Menu botton  =========== */
.menubtn{
    cursor: pointer;
    display: none;
}

/*======= Responsive display hp =======*/
@media (max-width:1050px){
    .max-width{
        padding: 0 50px;
    }

    .menubtn{
        display: block;
        z-index: 1000;
    }
    
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #615aa8;
        text-align: center;
        padding-top: 80px;
        transition:all 0.4s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .logo{
        font-size: 20px;
    }



    .navbar .menu li{
        display: block;
        padding-top:30px;
        transition: all 0.4s ease;
    }
    .home{
        display: flex;
        background: url("image3.png") no-repeat center;
        height: 100vh;
        min-height: 500px;
        transition: all 0.4s ease;
    }
    
}


@media (max-width:1100px){
    .about .about-content .left img{
        height:300px;
        margin: 50px 10px;
        margin-left: 30px;
        transition: all 0.4s ease;
    }
    .max-width{
        max-width: 800px;
        transition: all 0.4s ease;
    }
    .about{
        height:155vh;
    }
    .about .about-content{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .about .about-content .right{
        flex: 100%;
        font-size: 18px;
        padding: 0;
    }
    .about .max-width .title{
        flex: 100%;
    }
    .about .title{
        font-family:'RocknRoll One',sans-serif;
        padding-top: 100px;
        padding-left: 10px;
        font-size: 30px;
        transition: all 0.4s ease;
    }
    .about .title::before{
        content: '';
        position: absolute;
        bottom: 0px;
        left:50%;
        width: 180px;
        height: 5px;
        background:#1B1464;
        transform: translateX(-50%);
        transition: all 0.4s ease;
    }
    
    .about .title::after{
        content: '';
        position: absolute;
        bottom: -122vh;
        left:50%;
        padding: 0px;
        margin-bottom: 10px;
        width: 150px;
        height: 5px;
        background:#1B1464;
        transform: translateX(-50%);
        transition: all 0.4s ease;
    }
    .about .about-content .right a{
        padding: 15px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(247, 114, 114);
        color: #fff;
        display: inline-block;
        font-size: 18px;
        border-radius: 30px;
        transition: all 0.4s ease;
    }
    
    .about .about-content .right a:hover{
        padding: 15px 20px;
        background-color: rgb(182, 77, 77);
        color: #fff;
        display: inline-block;
        font-size: 18px;
        border-radius: 30px;
    }
}
    














@media (max-width:1000px){
    .max-width{
        max-width: 800px;
        transition: all 0.4s ease;
    }
    .skills{
        height:140vh;
    }
    .skills .skills-content{
        width: 100%;
    }
    .skills .skills-content .left{
        flex: 100%;
        font-size: 18px;
        padding-top: 0px;
        padding: 50px 0px;
    }
    .skills .skills-content .right{
        flex: 100%;
        font-size: 18px;
        padding: 0;
    }
    .skills .max-width .title{
        flex: 100%;
    }
    .skills .title{
        font-family:'RocknRoll One',sans-serif;
        padding-top: 100px;
        padding-left: 10px;
        font-size: 30px;
        transition: all 0.4s ease;
    }
    .skills .title::before{
        content: '';
        position: absolute;
        bottom: 0px;
        left:50%;
        width: 180px;
        height: 5px;
        background:#1B1464;
        transform: translateX(-50%);
        transition: all 0.4s ease;
    }
    .skills .skills-content .left a{
        padding: 15px 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(247, 114, 114);
        color: #fff;
        display: inline-block;
        font-size: 18px;
        border-radius: 30px;
        transition: all 0.4s ease;
    }
    
    .skills .skills-content .left a:hover{
        padding: 15px 20px;
        background-color: rgb(182, 77, 77);
        color: #fff;
        display: inline-block;
        font-size: 18px;
        border-radius: 30px;
    }

    }

@media (max-width:650px){
    .home .max-width{
        margin:auto 0 55vh 40px;
    }
    .home .home-content .text1{
        font-size: 15px;
    }
    .home .home-content .text2 p{
        font-size: 20px;
    }
    .home .home-content .text3{
        font-size: 15px;
    }
    .home .home-content .text3 span{
        font-size: 15px;
    }
    .home .home-content a{
        display: inline-block;
        background:rgb(247, 114, 114);
        padding: 8px 25px;
        color: #fff;
        border-radius:30px;
        transition: all 0.4s ease;
    }
    .home .home-content a:hover{
        display: inline-block;
        background:rgb(182, 77, 77);
        padding: 8px 25px;
        color: #fff;
        border-radius:30px;
    }
}

/*======= Responsive  Sosmed=======*/
@media (max-width:1100px){
    .section{
        padding: 100px 0;
    }
    .sosmed{
        height: 150vh;
        transition:all 0.4s ease;
    }
    .sosmed .sosmed-content .row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 40px ;
        transition:all 0.4s ease;
    }
    .sosmed .sosmed-content .row .box{
        height: auto;
        margin: 0 20px;
        padding: 20px 50px;
        font-size: 18px;
        font-weight: 500;
        align-items: center;
        box-shadow: 0 0 10px rgba(0,0,0, .25);
        margin-top: 50px;
        transition:all 0.4s ease;
    }
    .sosmed .sosmed-content .row .box .a{
        padding: 0px 30px;
        transition:all 0.4s ease;
    }
    .sosmed .sosmed-content .row .box .b{
        padding: 0px 30px;
        transition:all 0.4s ease;
    }
    .sosmed .sosmed-content .row .box .c{
        padding: 0px 30px;
        transition:all 0.4s ease;
    }
}
@media (max-width:822px){
    .section{
        padding: 100px 0;
    }
    .sosmed{
        height: 230vh;
        transition:all 0.4s ease;
    }
    .sosmed .title{
        font-family:'RocknRoll One',sans-serif;
        padding-top: 100px;
        padding-left: 10px;
        font-size: 30px;
        transition: all 0.4s ease;
    }
    .sosmed .title::before{
        content: '';
        position: absolute;
        bottom: 0px;
        left:50%;
        width: 270px;
        height: 5px;
        background:#1B1464;
        transform: translateX(-50%);
    }
}
/*======= Responsive Contact =======*/
@media (max-width:1100px){
    .max-width{
        max-width: 800px;
        transition: all 0.4s ease;
    }
    .contact{
        height:188vh;
    }
    .contact .contact-content{
        width: 100%;
    }
    .contact .contact-content .left{
        flex: 100%;
        font-size: 18px;
        padding-top: -20px;
        padding: 50px 0px;
    }
    .contact .contact-content .right{
        flex: 100%;
        font-size: 18px;
        padding: 0;
    }
    .contact .max-width .title{
        flex: 100%;
    }
    .contact .title{
        font-family:'RocknRoll One',sans-serif;
        padding-top: 100px;
        padding-left: 10px;
        font-size: 25px;
        transition: all 0.4s ease;
    }
    .contact .title::before{
        position: absolute;
        bottom: 0px;
        left:50%;
        width: 180px;
        height: 5px;
        background:#1B1464;
        transform: translateX(-50%);
        transition: all 0.4s ease;
    }
    .contact  .right form .button{
        height: 47px;
        width: 30%;
        margin-top: 20px;
        border: 0px ;
    }
    .contact  .right form .button button{
        height: 100%;
        width: 100%;
        margin-top: 20px;
        background-color: rgb(247, 114, 114);
        border: 0px ;
        border-radius: 30px;
        padding: 10px 15px;
        margin-top: 8px ;
        font-size: 13px;
        color: #fff;
        display: inline-block;
        transition: all 0.4s ease;
    }
    
    .contact  .right form .button button:hover{
        background-color: rgb(182, 77, 77);
        color: #fff;
        display: inline-block;
    }

    }
